body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#categoryFilter {
    background: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.product-item {
    padding: 10px;
    background: #000;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.details-button {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

